button {
  border: solid 2px purple;
  border-radius: 15px 7px;
  padding: 15px 25px 15px 25px;
  position: relative;
  background-color: hotpink;
  font-family: Monospace;
  margin: 5px 0px 10px 0px;
}

body {
  background: skyblue;
  font-family: Monospace;
  text-align: center;
}

hr {
  border: 1px black solid;
}

kbd {
  line-height: 12px;
}

header {
  text-decoration: underline;
}